* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background: url("https://izak.aidtaas.com/image/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  position: fixed;
  top: 0;
  overflow-y: hidden;
}

.topNav {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 5.13vh;
  position: fixed;
  top: 3.66vh !important;
}

.navContent {
  width: 97.25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iZAKLogo {
  width: 150px;
  display: flex;
  justify-content: flex-start;
}

.iZAKLogo svg {
  width: 32px;
  height: 32px;
}

.dateTimeTemp {
  width: 250px;
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.userProfile {
  width: 310px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
}

.signalGif img {
  width: 50px;
  height: 40px;
}

.line {
  width: 1px;
  height: 35px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
}

.NetworkSignal {
  display: flex;
  align-items: center;
}
.NetworkSignal svg {
  width: 28px;
  height: 28px;
}
.NetworkSignal .signalTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.NetworkSignal .signalText {
  color: white;
  width: 62px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NetworkSignal .signalText p {
  color: var(--Color, #fff);
  text-align: center;
  font-family: Lato;
  /* font-size: 14px; */
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 2px;
}

.NetworkSignal .signalText span {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 14px; */
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.bellNotification svg {
  width: 40px;
  height: 37px;
}

.profileLogo {
  width: 37px;
  height: 37px;
  background-color: rgb(219, 183, 253);
  border-radius: 50%;
}

.contentContainer {
  display: flex;
  width: 100%;
  /* height of total height - navbar + top height */
  height: calc(100vh - 8vh);
  margin-top: 8vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.wrapper {
  width: 99%;
  height: inherit;
  display: flex;
  flex-direction: row;
}

.sideNavContent {
  width: 5%;
  height: inherit;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6vh;
}

.iconStyle {
  width: 32px;
  height: 32px;
  font-size: 22px;
  padding-left: 1%;
  padding-right: 1%;
  cursor: pointer;
}
.iconStyle svg {
  width: 90%;
}

@media only screen and (max-width: 1080px) {
  .sideNavContent {
    width: 6%;
  }

  .userProfile {
    width: 290px;
    gap: 2px;
  }

  .signalGif img {
    width: 40px;
    height: 30px;
  }

  .bellNotification svg {
    width: 28px;
    height: 25px;
  }

  .profileLogo {
    width: 27px;
    height: 27px;
    background-color: rgb(219, 183, 253);
    border-radius: 50%;
  }

  .NetworkSignal svg {
    width: 25px;
    height: 25px;
  }

  .NetworkSignal .signalText {
    width: 52px;
    height: 12px;
  }
}
.mainContainer {
  height: inherit;
  width: 100%;
  margin-top: 6vh;
}

.header {
  /* border: 2px solid white; */
  width: 99%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.header div p {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.spaceAddSearchLogo {
  display: flex;
  column-gap: 2vw;
}

.imgCont1,
.imgCont2
{  width: clamp(0.1736125rem, 0rem + 2.7778vw, 17.3611875rem);
  height: clamp(0.1736125rem, 0rem + 2.7778vw, 17.3611875rem);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 80px;
}

.imgCont1:hover,
.imgCont2:hover
{  border-radius: 80px;
  border: 1px solid var(--Foundation-Blue-blue-500, #238efa);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 21px 0px rgba(255, 255, 255, 0.2);
}
.spaceContentContainer {
  height: auto;
  margin-top: 2vh;
}

.horizontalDiv {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.button {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background-color: #ffffff1a;
  cursor: pointer;
  color: rgb(255 255 255);
  opacity: 1;
  word-spacing: 0.25em;
}

.button:hover {
  background: #0b82f9;
  border: 1px solid var(--Foundation-Blue-blue-400, #4fa5fb);
  background: rgba(255, 255, 255, 0.44);
  box-shadow: 0px 0px 8px 0px rgba(25, 105, 224, 0.8);
}

.buttonText {
  color: var(--Color, #fff);
  text-align: center;
  font-family: Lato;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.selected {
  background-color: #0b82f9 !important;
}

.spaceCardsContainer {
  width: 100%;
  height: 70vh;
  margin-top: 2vh;
  display: flex;
  column-gap: 2vh;
}
.spaceSingleCard {
  width: 24%;
  height: 70vh;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
  opacity: 0.5;
}

.spaceCardImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.spaceCardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  border-radius: 8px;
}


.spaceSingleCard:hover {
  transform: scale(1);
  box-shadow: 0 0 8px #fff;
  opacity: 1;
  border-radius: 8px;
}

.contentAboveImg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: 2;
  justify-content: space-around;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  margin-bottom: 1%;
}

.textDiv {
  font-size: 1em;
}

.kwhEdit {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.kwh {
  width: 68%;
  display: flex;
  height: 32px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #d4f8d3;
}

.kwh p {
  color: var(--Layout-800, #222);
  font-family: Lato;
  /* font-size: 14px; */
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.kwh span {
  color: #737373;
  font-family: Lato;
  /* font-size: 12px; */
  font-size: clamp(0.05208125rem, 0rem + 0.8333vw, 5.2083125rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.livingRoom {
  width: 100%;
  height: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.livingRoom p {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 24px; */
  font-size: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;

}

.weatherTemp {
  width: 50px;
  height: 29px;
  gap: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.weatherTempImg {
  display: flex;
  align-items: center;
}
.livingRoom .weatherTemp img {
  width: 5%;
  height: 7%;
  object-fit: cover;
}
.livingRoom .weatherTemp span {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 14px; */
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* height: 25px; */
}

.NumDevicesScenes {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 20px; */
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
}

.functionalButtons {
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.circleImage {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  /* background-color: #ffffff1a; */
  background: rgba(168, 168, 168, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleImage img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}
